### Database settings
POSTGRES_DB=dbname
POSTGRES_USER=dbuser
POSTGRES_PASSWORD=dbsecurepass
POSTGRES_HOST=dbhost
POSTGRES_PORT=dbport 

#### Django settings
# Введите уникальный ключ для Django (например, сгенерированный через django-secret-key-generator)
SECRET_KEY=your_secret_key_here 
# True для разработки, False для продакшена 
DEBUG=True                       
# ALLOWED_HOSTS (значения через пробел или запятую, в зависимости от split в settings.py)
ALLOWED_HOSTS=localhost,127.0.0.1,yourdomain.com 